.godCard {
  border: 1px solid #cccccc;
  display: inline-block;
  text-align: left;
  margin: 1rem;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
}

.godCard__text {
  margin-left: 10rem;
}

.godCard__text div {
  border-bottom: 1px solid #cccccc;
  margin: 5px 0px;
}

.godCard img {
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -42.5px;
}
